
body{

                background-color:goldenrod
                }
h2{
                color: #ffffff;
                font-style: italic;
                }


h1{
     color: #ffffff;
     font-style: italic;
}

div img{
    max-width: 500px;
   }
