
body.CSC104Mechanicshop{

                background-color:goldenrod
                }

h1{
                color: #000000;
               
                text-align: center;
                }


h1{
     color: #0a0a0a;
     font-style: italic;
}

div img{
     image-resolution: 500px ;
   }

head {
     background-color: navy;
}


body.Autoservice{
     background-color: darkcyan;

}